.ongoing-project {
    display: flex;
    gap: 10px;
    margin: 3px;
}

.heading {
    color: #770cf1;
}

.col-6-projects {
    flex: 0 0 15%;
}

.col-8-projects {
    flex: 0 0 65%;
}

.ongoing-projects-list {
    background: #770cf1;
    border-radius: 5px;
    width: 900px;
    height: 150px;
}

.ongoing-projects-list-two {
    background: #fff;
    border: 2px solid #770cf1;
    border-radius: 5px;
    width: 900px;
    height: 150px;
    margin-top: 10px;
}

.on-going-projects-list-desc-two {
    color: #616161;
    margin: 10px;
}

.on-going-projects-list-heading-two {
    margin: 10px;
    color: #616161;

}

.top-creator-reposter-div {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    width: 100%;
    // margin: 25px;
    margin-bottom: 30px
}

.top-cr-list {
    border: 3px solid #770cf1;
    border-radius: 30px;
    width: 220px;
}

.top-cr-data-list {
    display: flex;
    margin: 20px;
    // flex-direction: column;
}

.top-cr-data {
    display: flex;
    margin-left: 10px;
    flex-direction: column;
}

.scroll {
    overflow-y: scroll;
    height: 370px !important;
}

@media only screen and (max-width: 768px) {

    .col-6-projects,
    .col-8-projects {
        flex: 0 0 100%;
        /* Full width on smaller screens */
    }


    .ongoing-projects-list,
    .ongoing-projects-list-two {
        width: 100%;
        /* Use full width on smaller screens */
    }


    .top-creator-reposter-div {
        display: flex !important;
        justify-content: center !important;
    }


    .on-going-projects {
        display: flex !important;
        justify-content: center !important;
    }

    .ongoing-projects-list {
        width: 90%;
    }

    .ongoing-projects-list-two {
        width: 90%;
    }

    .dropdown-icon {
        display: none;
    }

    .responsive-heading {
        text-align: center;
        width: 100%;
        margin: 10px 0;

    }
}