.col-6-creator-profiles {
    flex: 0 0 15%;
}

.col-6-creator-profiles {
    flex: 0 0 20%;
}

.col-6-creator-profiles-d {
    flex: 0 0 30%;
    margin: 75px 15px;
}


.btn-creators-pro-skilss {
    background: #770cf1 !important;
    color: #fff !important;
    text-transform: capitalize !important;
    /* margin-left: 5px !important; */
    font-size: 14px !important;
    width: 198px !important;
}

.creator-profile-section {
    margin-top: 14px;
}