.flex-container-creartor-view-shedule{
    display: flex;
    gap: 5px;
    justify-content: center;
    margin-top: 10px;
    // flex-direction: column;
  }

  .col-8-creator-view-schedule{
      flex: 0 1 65%;
      margin-top: 10px;
  
  }