.col-12 {
    display: flex;
    // width: 100%;
    flex-wrap: wrap;
    flex-direction: row;
}

.col-6 {
    flex: 0 0 50%;
    box-sizing: border-box;
    padding: 20px;
}

.form-data {
    width: 100%;
    justify-content: center;
    display: flex;
    gap: 20px;
    margin-top: 10px;
}

.css-1t8l2tu-MuiInputBase-input-MuiOutlinedInput-input {
    height: 0.4em !important;
}

.select-field {
    width: 475px !important;
}

.label-class {
    color: #616161 !important;
}

.password-text-field-design {
    width: 475px !important;

}

p {
    color: #616161;
}

a {
    color: #770CF1 !important;

}

.side-img {
    object-fit: cover;
    width: 635px;
}

// .text-field-design{
//     border: 3px solid #CCCCCC1A !important;
// }

@media (max-width: 900px) {
    .col-6-signup{
        flex: 0 0 100% !important;
    }

}