.main-div-section-sixths-container {
    padding: 40px 55px;
    display: flex;
    gap: 50px;
}

.sixth-first-side-main-heading {
    width: 485px;
    line-height: 38.4px;
    font-weight: 800;
    font-size: 32px;
}

.chat-sixth-img {}

.main-div-section-sixths-text {
    width: 55%;
    padding: 15px 25px;
}

@media only screen and (max-width: 768px) {
    .main-div-section-sixths-container {
        // padding: 40px 55px;
        display: flex;
        gap: 50px;
        flex-direction: column;
    }

    .main-div-section-sixths-text {
        width: 100%;
    }

    .sixth-first-side-main-heading {
        width: auto;
        line-height: 38.4px;
        font-weight: 800;
        font-size: 30px;
    }

    .chat-sixth-img {
        object-fit: contain;
        width: 475px;
    }
}

@media only screen and (max-width: 480px) {
    .sixth-first-side-main-heading {
        font-size: 16px;
        line-height: 24px;
    }

    .fourt-second-side-child-description {
        width: auto;
    }

    .chat-sixth-img {
        width: 300px;
    }

    .main-div-section-sixths-text {
        width: 100%;
        padding: 20px 0;
    }

    .main-div-section-sixths-container{
        padding: 40px 25px;
    }

}