.flex-container-support-chatbox {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    flex-direction: row;
    margin-top: 15px;
}

.col-6-support-chatbox {
    flex: 0 0 15%;
}

.col-8-support-chatbox {
    flex: 0 0 65%;
    margin-top: 5px;
}

///messages design
.chat-support-container {
    height: 82vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 20px;
}

.chat-support-list-section {
    overflow-y: auto;
    height: 60vh;
    padding-right: 50px;
}

.support-message {
    display: flex;
    // margin-bottom: 10px;
    margin: 10px 0;
    // flex-direction: column;
} 

.user-message {
    display: flex;
    flex-direction: row-reverse;
}



.single-message-sender-text-container {
    border: 2px solid #F5F5F5;
    background: #F5F5F5;
    border-radius: 15px 15px 4px 15px;
    margin-left: 10px;
    max-width: 500px;
}

.single-message-reciever-text-container {
    display: flex;
    border-radius: 15px 15px 15px 4px;
    background-color: #FFECEF;
    justify-content: end;
    max-width: 500px;
    margin-right: 10px;

    .single-message-text {
        color: #DF1525;
    }
}

.single-message-text {
    font-size: 14px;
    margin: 15px;
}

.time-container {
    margin: 5px;
}

.time-text {
    color: #757575;
    font-size: 12px;
    margin-left: 5px;
}

.receiver-text {
    color: #DF1525 !important;
}

.message-text {
    border: 2px solid #F5F5F5;
    background: #FFECEF;
    border-radius: 15px 15px 4px 15px;
    margin-left: 10px;
}

.reci-time-container {
    margin: 0 15px;
}

.type-message-container {
    border: 2px solid #770CF1;
    display: flex;
    align-content: end;
    // height: 20vh;
    width: 90%;
    border-radius: 15px 15px 0 0;
    position: relative;
    margin-bottom: 20px;
}

.type-message-textarea{
    width: 100%;
    border-radius: 15px 15px 0 0;
    // width: 100%;
    box-sizing: border-box;
    padding-right: 120px;
    padding-top: 15px;
}

.icon-div {
    // position: absolute !important;
    // top: 20px;
    // right: 30px;
    height: 40px;
    display: flex;
    align-items: center;
    gap: 10px;
}
.icon {
    color: #770CF1 !important;
    font-size: 16px !important;
    margin-top: 3px;
}

.doc{
    color: #474747;
    font-size: 16px;
    margin: 0;
}

.type-message-textarea::placeholder{
    text-indent: 10px;
    line-height: 2;
}
.chat-person-img{
    width: 52px;
    height: 50px;
}

.textarea-message-container-s {
    border: 2px solid #770CF1;
    display: flex;
    align-content: end;
    width: 92%;
    border-radius: 15px 15px 0 0;
    position: relative;
    margin-bottom: 20px;
    margin-top: 30px;

    div, fieldset {
        border: none !important;
        outline: none !important;
    }
}

@media screen and (max-width: 768px) {
    .col-6-support-chatbox {
        flex: 0 0 100%;
    }
    
    .col-8-support-chatbox {
        flex: 0 0 100%;
        margin-top: 10px;
    }

    .chat-person-img {
        margin: 0 10px;
    }

    .textarea-message-container-s{
        margin: 30px;
    }

    

}
