/* Base styles */

.first-side-creator-column {
  color: rgb(19, 20, 70);
  font-size: 2rem;
}

.main-first-section-brand-heading {
  width: auto !important;
  margin-top: 0;
  font-family: Helvetica, sans-serif;
  font-weight: 900;
  color: rgb(19, 20, 70);
  font-size: 3rem;
}

.main-first-section-brand-heading h1 {
  display: flex;
  flex-direction: row;
  position: relative;
  color: rgb(19, 20, 70);
  font-size: 3rem;
  margin-bottom: 5%;
}

.first-section-card-state-brand {
  width: 250px !important;
  margin-top: 60%;
}

.show-card-state-creater {
  margin-top: 5%;  
  position: relative;
}

.creator-background-image-container {
  width: 100%; /* Adjusted for responsiveness */
  max-width: 400px;
  height: 400px; /* Adjusted for responsiveness */
  padding-right: 10%;
  clip-path: polygon(0 0, 76% 0, 90% 56%, 65% 100%, 0 55%);
  border-radius: 20px;
  // margin-bottom: %;
}

.container-of-card-f-section-second-c {
  margin-bottom: 15%;
}

.main-first-section-brand-description {
  width: auto;
  color: rgb(0, 0, 0);
  font-weight: 400;
  margin-bottom: 20px;
  font-size: 18px;
  font-family: Helvetica, sans-serif;
}

.btn-text-brand-section {
  display: flex;
  gap: 15px;
  padding-top: 15px;
}

.show-cost-per {
  font-size: 24px;
  line-height: 36px;
}

.section003 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 55px 0px;
  gap:270px;
}


/* Media queries for responsiveness */

@media only screen and (max-width: 768px) {

  .section003{
    flex-direction: column !important;
    gap: 20px;
  }
  .main-first-section-creator-container {
    display: flex;
    flex-direction: column;
  }

  .first-side-creator-column {
    width: auto !important;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .main-first-section-brand-heading {
    width: auto !important;
    font-size: 2rem; /* Adjusted font size */
  }

  .container-of-card-f-section-second-c {
    left: 50% !important;
    top: 90%;
  }

  .images-with-state-section-creator {
    display: flex;
    justify-content: center;
  }

  /* Adjustments for mobile layout */
  .creator-background-image-container,
  .first-section-card-state-brand {
    width: 100%;
    margin-top: 5%; /* Adjusted margin */
  }

  .item11 h2{
    font-size: 35px !important;
  }

  .item11, .images-with-state-section-creator{
    padding: 0px 20px !important;
  }
.our-integration-heading-brand-sevh3{
  width: 100% !important;
}
}

@media only screen and (min-width: 350px) {
  .main-first-section-brand-heading {
    width: auto !important;
    margin-bottom: 20px;
    font-size: 2.5rem; /* Adjusted font size */
  }

  .main-first-section-creator-container {
    margin-top: 5px;
    margin-left: 10px;
  }

  .main-first-section-brand-description {
    width: auto;
  }
}

/* Button styles */

.sign-up-brand-btn1,
.book-a-call-btn1 {
  margin-top: 3%;
  padding: 1px !important;
  color: #fff !important;
  border-radius: 8px !important;
  cursor: pointer;
  width: 170px;
  font-size: 1.1rem;
  height: 55px;
  border: none !important;
  font-family: 'Lato', sans-serif;

}

.sign-up-brand-btn1 {
  background: rgb(119, 12, 241) !important;

}

.sign-up-brand-btn1:hover {
  background: linear-gradient(78.51deg, #770CF1 6.54%, #FE0C0C 99.12%) !important;
  font-family: 'Lato', sans-serif;

}

.book-a-call-btn1 {
  background: rgb(232, 231, 235) !important;
  color: #100669 !important;
}

.book-a-call-btn1:hover {
  background: linear-gradient(78.51deg, #e6e4e7 6.54%, #d1cfcf 99.12%) !important;
  font-family: 'Lato', sans-serif;

}

/* Additional section styles */


.section2 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
  background-color: rgb(238, 245, 226);
  border-radius: 20px;
  width: 100%;
}

.item11 {

  color: rgb(19, 20, 70);
  font-size: 2.5rem !important;
  font-weight: 600 !important;
  // margin-right: 15%;
  padding-top: 4%;
  padding-bottom: 5%;
}


.show-cost-per{
  font-size: 28px;
  font-weight: 700;
}

.show-card-state-paragraph{
  color:rgb(0 0 0 / 48%) !important;
}
.hi{
  padding-bottom: 0% !important;
}
h2{
  // font-family: 'Lato', sans-serif; 
  // font-size: 3.6rem !important;
  // font-weight: 600 !important;
}
.paragraphsss {
  margin-top: 3%;
  padding-left: 1%;
}

.paragraphsss p {
  margin-bottom: 10px;
  color: rgb(9, 5, 75);
  font-weight: 500;
  font-family: 'Lato', sans-serif;

}
