.flex-container-brand-support {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    flex-direction: row;
    margin-top: 15px;
}

.col-6-brand-support {
    flex: 0 0 15%;
}

.col-8-brand-support {
    flex: 0 0 65%;
}

.search-keyword-container {
    border: 2px solid #770cf1;
    border-radius: 5px;
    width: 90%;
    height: 40px;
    margin: 10px;
}

.search-keyword {
    display: flex;
    justify-content: space-between;
    margin: 7px;
    width: 98%;
}

.search-icon {
    background: #770cf1 !important;
    color: #fff !important;
    border-radius: 50%;
    position:absolute;
    right: 110px;
    top: 18px;
}

.support-options-container {
    display: flex;
    gap: 10px;
}

.support-options {
    background-color: #DFF1FF;
    margin: 10px;
    width: 203px;
    height: 100px;
}

.icons-list {
    margin: 7px !important;
}

.heading-h5 {
    color: #616161;
    margin: 2px 10px;
}

.heading-h6 {
    color: #000000;
    margin: 2px 10px;
}

.green {
    background: #E8FFEB !important;
}

.red {
    background: #FFECEF !important;
}

.purple {
    background: #E8D4FF !important;
}

.top-question-section {
    display: flex;
    justify-content: space-between;
    margin: 7px;
    width: 90%;
}

.top-question-container {
    width: 100%;
}

.accordion-title {
    color: #000000 !important;
}

.accordion-description {
    color: #757575 !important;
    text-align: justify !important;
}

.swich-user-container {
    display: flex;
    gap: 10px;
    margin-top: 15px;
    flex-direction: column;
}

.swich-user-section {
    border: 3px solid #770cf1;
    border-radius: 10px;
    display: flex;
    align-items: center;
    width: 220px;
    margin-top: 10px;
}

.swich-user-list {
    display: flex;
    gap: 30px;
}

.next-div {
    display: flex;
    width: 90%;
    justify-content: end;
    margin: 5px 0;
}

.main-search-keyword-container{
    position: relative;

}

.search-keyword-container::placeholder{
    padding: 10px;
}

@media screen and (max-width: 900px) {
    .col-8-brand-support {
        flex: 0 0 100%;
    }
    .main-search-keyword-container {
        width: 100%;
        justify-content: center;
        display: flex;
        padding-top: 10px;

    }

    .search-keyword-container{
        width: 60%;
    }

    .support-options-container {
        flex-direction: column;
        align-items: center;
    }

    .support-options{
        width: 60%;
        padding-top: 10px;
    }

    .top-question-section {
        width: 60%;
    }


    .next-div {
        justify-content: center;
    }

    .swich-user-list {
        width: 100%;
        justify-content: center;
    }

    .top-question-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 10px;
    }

    .swich-user-section{
        width: 150px;
    }
    .responsive-h{
        text-align: center;
    }

    .search-icon {
        right: 150px;
        top: 27px;
    }

    .col-6-brand-support {
        flex: 0 0 100%;
        margin-top: 10px;
    }
}