.flex-container-request-form {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    flex-direction: row;
    margin-top: 15px;
}

.col-6-request-form {
    flex: 0 0 15%;
}

.col-8-request-form {
    flex: 0 0 65%;
    margin-top: 5px;
    margin-left: 50px;

    .heading {
        font-size: 42px;
    }
}

.upload-form-data {
    width: 100%;
    // justify-content: center;
    display: flex;
    // gap: 30px;
    margin-top: 10px;
    flex-direction: column;
}

.upload-form-input {
    width: 75%;
    // height: 75px;
}

.text-field-design-input {
    border: 2px solid #770CF1;
    border-radius: 5px;
    width: 100%;
    height: 35px;
    margin: 10px 0;
}

.text-field-design-input-description {
    border: 2px solid #770CF1;
    border-radius: 5px;
    width: 100%;
    height: 100px;
    margin: 10px 0;
}

.btn-upload-file-request-form {
    border: 2px solid #770cf1;
    border-radius: 5px;
    color: #770CF1 !important;
    text-transform: capitalize !important;
    display: flex !important;
    margin-top: 10px;
    width: 100%;
    height: 200px;
    flex-direction: column-reverse;
}

.upload-and-select-img {
    display: flex;
    margin: 10px 5px;
    gap: 10px;
    width: 75%;
    flex-wrap: wrap;
}

.fa-xmark {
    position: absolute;
    color: white;
    top: 5px;
    cursor: pointer;
    right: 5px;
    background-color: red;
    border-radius: 50%;
    height: 16px;
    width: 16px;
    opacity: 0;
    text-align: center;
    transition: opacity 0.2s ease-in;
}

.selected-img-request-form {
    border: 2px solid #DBDBDB;
    height: 78px;
    width: 64px;
    position: relative;
    // display: flex;
    padding: 10px;

    p {
        font-size: 9px;
        max-width: 55px;
        white-space: nowrap;
        overflow: hidden;
        margin: 0;
        text-overflow: ellipsis;
    }
}
.selected-img-request-form:hover .fa-xmark {
    opacity: 1;
}

.current-selected-img {
    max-width: 100%;
    margin-bottom: 3px;
    height: 40px;
    object-fit: cover;
}

.current-empty-img {
    width: 55px;
    height: 55px;
}

.submit-div {
    display: flex;
    width: 76%;
    justify-content: end;
    margin-top: 5px;
}

@media screen and (max-width: 768px) {
    .col-8-request-form {
        flex: 0 0 100%;
    }

    .upload-form-data {
        align-items: center;
    }



    .submit-div {
        width: 75%;
        justify-content: center;
    }

    .current-selected-img {
        width: 40px;
        height: 40px;
    }
    .current-empty-img {
        width: 40px;
        height: 40px;
    }

    .upload-and-select-img{
        width: 75%;
    }

    .selected-img-request-form {
        gap: 5px;
    }
    
    .col-6-request-form {
        flex: 0 0 100%;
        margin-top: 10px;
    }

}